* {
  border: none;
  border-radius: 0;
  font-family: "Noto Sans", "Noto Color Emoji", monospace;
  font-size: 14px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.6);
  color: ${TEXT};
  border-bottom: 2px solid rgba(49, 50, 68, 0.8);
}

window#waybar > box {
  margin: 0;
  padding: 8px;
}

#workspaces {
  padding: 0;
  margin: 0;
}

#workspaces button {
  padding: 4px 8px;
  margin: 0 4px;
  border-radius: 8px;
  background-color: rgba(49, 50, 68, 0.6);
  color: ${ACCENT};
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  background-color: rgba(69, 71, 90, 0.8);
  color: #212121;
}

#workspaces button.active {
  background-color: ${ACCENT};
  color: ${BG};
}

#clock {
  padding: 4px 8px;
  background-color: rgba(49, 50, 68, 0.6);
  border-radius: 8px;
  color: ${ACCENT};
  font-weight: bold;
  font-size: 16px;
  min-width: 120px;
  transition: all 0.3s ease;
}


#language,
#cpu,
#memory,
#temperature,
#bluetooth,
#pulseaudio,
#backlight,
#network,
#battery {
  padding: 4px 8px;
  margin: 0 4px;
  background-color: rgba(49, 50, 68, 0.6);
  border-radius: 8px;
  color: ${TEXT};
  min-width: 40px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

#language {
  color: ${SECONDARY};
  font-size: 16px;
}

#cpu {
  color: ${WARNING};
}

#memory {
  color: ${WARNING};
}

#temperature {
  color: ${WARNING};
}

#temperature.critical {
  background-color: ${ERROR};
  color: ${BG};
}

#bluetooth {
  color: ${ACCENT};
}

#pulseaudio {
  color: ${SUCCESS};
}

#backlight {
  color: ${WARNING};
}

#battery {
  color: ${SUCCESS};
}

#battery.critical:not(.charging) {
  background-color: ${ERROR};
  color: ${BG};
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  to {
    background-color: rgba(49, 50, 68, 0.6);
    color: ${TEXT};
  }
}

#language:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#battery:hover {
  background-color: rgba(69, 71, 90, 0.8);
  border-radius: 12px;
}
